
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    line-numbers = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[diff]
    pager = "delta"

[user]
    name = {{ (bitwardenFields "item" "GPG agent").FullName.value }}
    email = {{ (bitwardenFields "item" "GPG agent").Email.value }}
    signingkey = {{ (bitwardenFields "item" "GPG agent").SigningKey.value }}
[commit]
	gpgsign = true
