{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh

## Installing packages on linux

{{ else if eq .chezmoi.os "darwin" -}}
#!/bin/sh

## Installing packages on Mac

## install zimfw, nvm and reset all the changes
curl -fsSL https://raw.githubusercontent.com/zimfw/install/master/install.zsh | zsh
curl -o- https://raw.githubusercontent.com/nvm-sh/nvm/v0.39.1/install.sh | bash
brew install pipx
pipx ensurepath

# install brew packages
brew install git-delta \
  bat \
  pipx \
  ripgrep \
  gh \
  exa

# install node packages
nvm install node
chezmoi apply --force
nvm use node

npm install -g @bitwarden/cli

chezmoi apply --force

{{ else }}

## Installing packages on windows

{{ end -}}